<a href="https://colab.research.google.com/github/mufadah/2025_Algoritma_Pemrograman/blob/main/Jobsheet_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Bubble Sort

In [15]:
def bubble_sort(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j] > data[j + 1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan: ", angka)
print("Data setelah bubble sort: ", bubble_sort(angka))

Data sebelum diurutkan:  [64, 34, 25, 12, 22, 11, 90]
Data setelah bubble sort:  [11, 12, 22, 25, 34, 64, 90]

#Praktikum 02 - Selection Sort

In [16]:
def selection_sort(data):
  n = len(data)
  for i in range(n):
    min_index = 1
    for j in range (i + 1, n):
      if data[j] < data[min_index]:
        min_index = j
    data[i], data[min_index] = data[min_index], data[i]
  return data

angka = [64, 25, 12, 22, 11]
print("Data sebelum diurutkan:", angka)
print("Data setelah Selection Sort:", selection_sort(angka))

Data sebelum diurutkan: [64, 25, 12, 22, 11]
Data setelah Selection Sort: [11, 64, 12, 25, 22]

#Praktikum 03 - Insertion Sort

In [17]:
def insertion_sort(data):
  n = len(data)
  for i in range (1, n):
    key = data[i]
    j = i - 1
    while j >= 0 and data[j] > key:
      data[j + 1] = data[j]
      j -= 1
    data[j + 1] = key
  return data

angka = [12, 11, 13, 5, 6]
print("Data sebelum diurutkan:", angka)
print("Data setelah Insertion Sort:", insertion_sort(angka))

Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [5, 6, 11, 12, 13]

#Praktikum 04 - Studi Kasus Nilai Mahasiswa

In [6]:
def bubble_sort_nilai(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j][1] < data[j + 1][1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

mahasiswa = [("Andi", 80), ("Budi", 70), ("Cici", 90), ("Doni", 85)]
print("Data sebelum diurutkan:", mahasiswa)
print("Data setelah diurutkan (desc):", bubble_sort_nilai(mahasiswa))

Data sebelum diurutkan: [('Andi', 80), ('Budi', 70), ('Cici', 90), ('Doni', 85)]
Data setelah diurutkan (desc): [('Cici', 90), ('Doni', 85), ('Andi', 80), ('Budi', 70)]

#Praktikum 05 - Perbandingan Waktu Eksekusi

In [18]:
%%writefile bubble.py

def bubble_sort(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j] > data[j + 1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan: ", angka)
print("Data setelah bubble sort: ", bubble_sort(angka))

Overwriting bubble.py

In [19]:
%%writefile selection.py
def selection_sort(data):
  n = len(data)
  for i in range(n):
    min_index = 1
    for j in range (i + 1, n):
      if data[j] < data[min_index]:
        min_index = j
    data[i], data[min_index] = data[min_index], data[i]
  return data

angka = [64, 25, 12, 22, 11]
print("Data sebelum diurutkan:", angka)
print("Data setelah Selection Sort:", selection_sort(angka))

Overwriting selection.py

In [20]:
%%writefile insertion.py
def insertion_sort(data):
  n = len(data)
  for i in range (1, n):
    key = data[i]
    j = i - 1
    while j >= 0 and data[j] > key:
      data[j + 1] = data[j]
      j -= 1
    data[j + 1] = key
  return data

angka = [12, 11, 13, 5, 6]
print("Data sebelum diurutkan:", angka)
print("Data setelah Insertion Sort:", insertion_sort(angka))

Overwriting insertion.py

In [14]:
import random, time

from bubble import bubble_sort
from selection import selection_sort
from insertion import insertion_sort

data = [random.randint(1,1000) for i in range(500)]

for func in [bubble_sort, selection_sort, insertion_sort]:
  salinan = data.copy()
  start = time.time()
  func(salinan)
  end = time.time()
  print(f"{func.__name__} membutuhkan waktu {end - start:.5f} detik")

Data sebelum diurutkan:  [64, 34, 25, 12, 22, 11, 90]
Data setelah bubble sort:  [11, 12, 22, 25, 34, 64, 90]
Data sebelum diurutkan: [64, 25, 12, 22, 11]
Data setelah Selection Sort: [11, 64, 12, 25, 22]
Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [5, 6, 11, 12, 13]
bubble_sort membutuhkan waktu 0.01073 detik
selection_sort membutuhkan waktu 0.00663 detik
insertion_sort membutuhkan waktu 0.00511 detik

#Praktikum 06 - Sorting Data Barang

In [21]:
def bubble_sort_key(data, key_index = 0, reverse = False):
  n = len(data)
  for i in range (n):
    for j in range (0, n - i - 1):
      if reverse:
        if data[j][key_index] < data[j + 1][key_index]:
          data[j], data[j + 1] = data[j + 1], data[j]
  return data

barang = [("Buku", 15000), ("Pensil", 5000), ("Tas", 75000), ("Pulpen", 10000)]
print("Urut berdasarkan nama (asc):", bubble_sort_key(barang.copy(), 0))
print("Urut berdasarkan harga (desc):", bubble_sort_key(barang.copy(), 1, reverse=True))

Urut berdasarkan nama (asc): [('Buku', 15000), ('Pensil', 5000), ('Tas', 75000), ('Pulpen', 10000)]
Urut berdasarkan harga (desc): [('Tas', 75000), ('Buku', 15000), ('Pulpen', 10000), ('Pensil', 5000)]

#Penugasan 01 - Eksperimen Bubble Sort

In [28]:
def bubble_sort(data):
  n = len(data)
  for i in range(n):
    print ()
    print (f"data1 {data}")
    print (f"i {i}")
    for j in range(0, n - i - 1):
      print (f"j {j}")
      if data[j] > data[j + 1]:
        print (f"Data {data[j]} dan {data[j+1]}")
        data[j], data[j + 1] = data[j + 1], data[j]
        print(data[j],data[j+1])
        print(f"kalo {data[j]}")
        print(f"data2 {data}")
  return data

angka = [64, 34, 25, 12, 22, 100, 10]
print("Data sebelum diurutkan: ", angka)
print("Data setelah bubble sort: ", bubble_sort(angka))

Data sebelum diurutkan:  [64, 34, 25, 12, 22, 100, 10]

data1 [64, 34, 25, 12, 22, 100, 10]
i 0
j 0
Data 64 dan 34
34 64
kalo 34
data2 [34, 64, 25, 12, 22, 100, 10]
j 1
Data 64 dan 25
25 64
kalo 25
data2 [34, 25, 64, 12, 22, 100, 10]
j 2
Data 64 dan 12
12 64
kalo 12
data2 [34, 25, 12, 64, 22, 100, 10]
j 3
Data 64 dan 22
22 64
kalo 22
data2 [34, 25, 12, 22, 64, 100, 10]
j 4
j 5
Data 100 dan 10
10 100
kalo 10
data2 [34, 25, 12, 22, 64, 10, 100]

data1 [34, 25, 12, 22, 64, 10, 100]
i 1
j 0
Data 34 dan 25
25 34
kalo 25
data2 [25, 34, 12, 22, 64, 10, 100]
j 1
Data 34 dan 12
12 34
kalo 12
data2 [25, 12, 34, 22, 64, 10, 100]
j 2
Data 34 dan 22
22 34
kalo 22
data2 [25, 12, 22, 34, 64, 10, 100]
j 3
j 4
Data 64 dan 10
10 64
kalo 10
data2 [25, 12, 22, 34, 10, 64, 100]

data1 [25, 12, 22, 34, 10, 64, 100]
i 2
j 0
Data 25 dan 12
12 25
kalo 12
data2 [12, 25, 22, 34, 10, 64, 100]
j 1
Data 25 dan 22
22 25
kalo 22
data2 [12, 22, 25, 34, 10, 64, 100]
j 2
j 3
Data 34 dan 10
10 34
kalo 10
data2 [12, 22, 25, 10, 34, 64, 100]

data1 [12, 22, 25, 10, 34, 64, 100]
i 3
j 0
j 1
j 2
Data 25 dan 10
10 25
kalo 10
data2 [12, 22, 10, 25, 34, 64, 100]

data1 [12, 22, 10, 25, 34, 64, 100]
i 4
j 0
j 1
Data 22 dan 10
10 22
kalo 10
data2 [12, 10, 22, 25, 34, 64, 100]

data1 [12, 10, 22, 25, 34, 64, 100]
i 5
j 0
Data 12 dan 10
10 12
kalo 10
data2 [10, 12, 22, 25, 34, 64, 100]

data1 [10, 12, 22, 25, 34, 64, 100]
i 6
Data setelah bubble sort:  [10, 12, 22, 25, 34, 64, 100]

In [25]:
def bubble_sort(data, reverse = True):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if reverse:
        data[j] > data[j + 1]
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan: ", angka)
print("Data setelah bubble sort (Descending): ", bubble_sort(angka))

Data sebelum diurutkan:  [64, 34, 25, 12, 22, 11, 90]
Data setelah bubble sort (Descending):  [90, 11, 22, 12, 25, 34, 64]

#Penugasan 02 - Eksperimen Selection Sort

In [11]:
data = [45, 12, 67, 23, 89, 34]
data.sort()
print("Ascending:", data)
data.sort(reverse=True)
print("Descending:", data)

Ascending: [12, 23, 34, 45, 67, 89]
Descending: [89, 67, 45, 34, 23, 12]

#Penugasan 03 - Eksperimen Insertion Sort

#Penugasan 04 - Studi Kasus Tambahan

#Penugasan 04 - Analisis Kompleksitas

#Penugasan 04 - Proyek Mini