<a href="https://colab.research.google.com/github/mufadah/2025_Algoritma_Pemrograman/blob/main/Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Tuple: Data Tetap

In [1]:
koordinat = (7.05, 110.44)

print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

#Praktikum 02 - Dictionary Dasar

In [6]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  3.23.25.0.15
Nama:  Faiq
Prodi:  TRK

#Praktikum 03 - Operasi pada Dictionary

In [9]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}
mahasiswa["umur"] = 19
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Praktikum 04 - Set dan Operasi Himpunan

In [16]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

#Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [18]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah mahasiswa 1 adalah: ", mhs1)
print("Mata kuliah mahasiswa 2 adalah: ", mhs2)
print("Mata kuliah mahasiswa 1 dan 2 adalah: ", mhs1 & mhs2)

Mata kuliah mahasiswa 1 adalah:  {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah mahasiswa 2 adalah:  {'Algoritma', 'Basis Data', 'Matematika'}
Mata kuliah mahasiswa 1 dan 2 adalah:  {'Algoritma', 'Matematika'}

#Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [22]:
nilai_mahasiswa = {
    "Andi" : 80,
    "Budi" : 75,
    "Cici" : 90,
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai {len(nilai_mahasiswa)} Mahasiswa tersebut adalah: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai 3 Mahasiswa tersebut adalah: 81.67

#Penugasan 01 - Tuple sederhana

In [25]:
mahasiswa = ("Faiq", 19, "TRK")

print(f"Nama:", mahasiswa[0])
print(f"Umur:", mahasiswa[1])
print(f"Prodi:", mahasiswa[2])

Nama: Faiq
Umur: 19
Prodi: TRK

#Penugasan 02 - Tuple tidak bisa diubah

In [26]:
nilai = (1, 2, 3)

nilai[1] = 5

print(nilai)

TypeError: 'tuple' object does not support item assignment

#Penugasan 03 - Dictionary dasar

In [28]:
data_buku = {
    "Judul" : "Algoritma",
    "Penulis" : "Munir",
    "Tahun" : 2021
}

print("Judul:", data_buku["Judul"])
print("Penulis:", data_buku["Penulis"])
print("Tahun:", data_buku["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

#Penugasan 04 - Operasi dictionary

In [30]:
data_dosen = {
    "NIP" : 1234,
    "Nama" : "Budi",
    "Prodi" : "TRK"
}

data_dosen["Umur"] = 40
data_dosen["Prodi"] = "Teknik Komputer"
del data_dosen["Umur"]

print(data_dosen)

{'NIP': 1234, 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

#Penugasan 05 - Set dan himpunan

In [31]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union", A | B)
print("Intersection", A & B)
print("Difference", A - B)

Union {'Algoritma', 'Basis Data', 'Matematika', 'Bahasa Inggris'}
Intersection {'Algoritma', 'Matematika'}
Difference {'Bahasa Inggris'}

#Penugasan 06 - Studi kasus dictionary

In [33]:
data = {"Andi": 85, "Budi": 90, "Cici": 78}


for nama, nilai in data.items():
  print(f"{nama}: {nilai}")

rata = sum(data.values()) / len(data)
print(f"Rata-rata nilai {len(data)} Mahasiswa tersebut adalah: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai 3 Mahasiswa tersebut adalah: 84.33

#Penugasan 07 - Studi Kasus Set â€“ Klub Mahasiswa

In [34]:
Klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print("Seluruh orang yang termasuk kedalam klub mahasiswa adalah:", Klub_a | klub_b)
print("Seluruh orang yang termasuk kedalam kedua klub mahasiswa adalah:", Klub_a & klub_b)
print("Orang-orang yang ada di klub a namun tidak ada di klub b adalah:", Klub_a - klub_b)

Seluruh orang yang termasuk kedalam klub mahasiswa adalah: {'Cici', 'Deni', 'Eka', 'Budi', 'Andi'}
Seluruh orang yang termasuk kedalam kedua klub mahasiswa adalah: {'Cici'}
Orang-orang yang ada di klub a namun tidak ada di klub b adalah: {'Budi', 'Andi'}