<a href="https://colab.research.google.com/github/mufadah/2025_Algoritma_Pemrograman/blob/main/Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Perulangan For dengan Range

In [ ]:
for x in range(1, 6):
  print(x)

1
2
3
4
5

#Praktikum 02 - While (Hitung Mundur)

In [ ]:
n = 5
while n > 0:
  print(n)
  n -= 1

5
4
3
2
1

#Praktikum 03 - Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 6):
  for j in range(i):
      print("*", end="")
  print()

*
**
***
****
*****

#Praktikum 04.1 - Break

In [ ]:
for i in range(1, 15):
  print(i)
  if i == 10:
    print("Angka 10 ditemukan")
    break

1
2
3
4
5
6
7
8
9
10
Angka 10 ditemukan

#Praktikum 04.2 - Continue

In [ ]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

#Praktikum 05 - For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

#Praktikum 06 - For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

#Praktikum 07 - Kasir Multi-Item

In [3]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

#Penugasan 01 - Menampilkan Deret Angka

In [8]:
for x in range(3, 33, 3):
  print(x)

3
6
9
12
15
18
21
24
27
30

#Penugasan 02 - Hitung faktorial

In [31]:
a = int(input("Masukkan angka yang ingin dibuat faktorial: "))
faktorial = 1
i = 1

while i <= a:
  faktorial *= i
  i += 1
print(f"Faktorial dari {a} adalah {faktorial}")

Masukkan angka yang ingin dibuat faktorial: 5
Faktorial dari 5 adalah 120

#Penugasan 03 - Pola segitiga terbalik

In [40]:
for i in range(5, 0, -1):
  for j in range(i):
      print("*", end="")
  print()

*****
****
***
**
*

#Penugasan 04 - Cari Bilangan Prima dengan Break

In [47]:
angka = int(input("Masukkan angka untuk mengecek bilangan prima: "))

if angka > 1:
  for i in range(2, angka):
    if angka % i == 0:
      print("Bukan bilangan prima")
      break
  else:
    print(angka, "Merupakan bilangan prima")

else:
  print("Bukan bilangan prima")

Masukkan angka untuk mengecek bilangan prima: 0
Bukan bilangan prima

#Penugasan 05 - Tampilkan Hanya Bilangan Genap dengan Continue

In [49]:
for i in range(1, 22):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

#Penugasan 06 - Iterasi Dictionary Mahasiswa

In [50]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

#Penugasan 07 - Enumerate Daftar Barang

In [51]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

#Penugasan 08 - Studi Kasus  Kasir Diskon

In [73]:
total = 0

while True:
  barang = input("Masukkan nama barang (Ketik '-' untuk berhenti): ")
  if barang.lower() == "-":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal
  if total >= 200000:
    diskon = 0.1
  else:
    diskon = 0
  a_diskon = total - (total * diskon)


print("\n===== STRUK =====")
print(f"\nSebelum diskon: {total}")
print(f"Diskon: {diskon* 100} %")
print(f"Bayar: {a_diskon}")
print("\n=================")

Masukkan nama barang (Ketik '-' untuk berhenti): tas
Masukkan harga tas: 100000
Masukkan jumlah tas: 1
Masukkan nama barang (Ketik '-' untuk berhenti): -

===== STRUK =====

sebelum diskon: 100000.0
Diskon: 0 %
Bayar: 100000.0

=================