<a href="https://colab.research.google.com/github/mufadah/2025_Algoritma_Pemrograman/blob/main/Jobsheet_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Membuat dan Mengakses List 1D

In [2]:
mahasiswa = ["Andi", "Budi", "Cici"]

print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

#Praktikum 02 - Update dan Operasi Dasar List

In [5]:
nilai = [85, 90, 78]

nilai[0] = 100
nilai.append(98)
nilai.remove(78)

print(nilai)

[100, 90, 98]

#Praktikum 03 - Slicing List

In [9]:
nilai = [85, 90, 78, 92, 88]

print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

#Praktikum 04 - List 2D (Matriks)

In [13]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks [0] [0])
print(matriks [1] [2])
print(matriks [-1] [1])

1
6
8

#Praktikum 05 - Operasi pada List 2D

In [23]:
a = [[1, 2, 3], [4, 5, 6]]
b = [[7, 8, 9], [10, 11, 12]]
c = []

for i in range(len(a)):
  baris = []
  for j in range (len(a[0])):
    baris.append(a[i][j] + b[i][j])
  c.append(baris)

print(c)

[[8, 10, 12], [14, 16, 18]]

#Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [30]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
    ]
for i, baris in enumerate (nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i} adalah {rata:.2f}")

Rata-rata nilai mahasiswa 1 adalah 85.00
Rata-rata nilai mahasiswa 2 adalah 75.00
Rata-rata nilai mahasiswa 3 adalah 88.00

#Penugasan 01 - Akses Elemen List

In [32]:
nama = ["Faiq", "Ahmad", "Audah", "Bambang", "Agus"]

print(nama[0]) #Nama pertama
print(nama[-1]) #Nama Terakhir
print(nama[1]) #Nama Kedua

Faiq
Agus
Ahmad

#Penugasan 02 - Operasi Dasar List

In [34]:
nilai = [70, 75, 80]

nilai[2] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[75, 85, 90]

#Penugasan 03 - Slicing List

In [43]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

angka = list.

print(list[:3])
print(list[-4:])
if list % 2 == 0:
  print(list)
else:
  print()

[1, 2, 3]
[7, 8, 9, 10]

TypeError: unsupported operand type(s) for %: 'list' and 'int'