<a href="https://colab.research.google.com/github/mufadah/2025_Algoritma_Pemrograman/blob/main/Jobsheet_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]

print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

#Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]

nilai[0] = 100
nilai.append(98)
nilai.remove(78)

print(nilai)

[100, 90, 98]

#Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]

print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

#Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks [0] [0])
print(matriks [1] [2])
print(matriks [-1] [1])

1
6
8

#Praktikum 05 - Operasi pada List 2D

In [ ]:
a = [[1, 2, 3], [4, 5, 6]]
b = [[7, 8, 9], [10, 11, 12]]
c = []

for i in range(len(a)):
  baris = []

  for j in range (len(a[0])):
    baris.append(a[i][j] + b[i][j])
  c.append(baris)

print(c)

[[8, 10, 12], [14, 16, 18]]

In [ ]:
a = [[1, 2, 3], [4, 5, 6]]
b = [[7, 8, 9], [10, 11, 12]]
c = []

print(a)
print(len(a [0]))
print(len(b))

for i in range(len(a)):
  print(f"\nadalah {i}")
  baris = []

  print(f"wala {baris}")

  for j in range (len(a[0])):
    print(f"ini {j}")
    baris.append(a[i][j] + b[i][j])
    print()
    print(baris)

  c.append(baris)
  # print(baris)

print()
print()
print(c)

[[1, 2, 3], [4, 5, 6]]
3
2

adalah 0
wala []
ini 0

[8]
ini 1

[8, 10]
ini 2

[8, 10, 12]

adalah 1
wala []
ini 0

[14]
ini 1

[14, 16]
ini 2

[14, 16, 18]


[[8, 10, 12], [14, 16, 18]]

#Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84] ]
for i, baris in enumerate (nilai, start=1):
  print()
  print(i)
  print(sum(baris))
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i} adalah {rata:.2f}")

1
255
Rata-rata nilai mahasiswa 1 adalah 85.00

2
225
Rata-rata nilai mahasiswa 2 adalah 75.00

3
264
Rata-rata nilai mahasiswa 3 adalah 88.00

#Penugasan 01 - Akses Elemen List

In [ ]:
nama = ["Faiq", "Ahmad", "Audah", "Bambang", "Agus"]

print(nama[0]) #Nama pertama
print(nama[-1]) #Nama Terakhir
print(nama[1]) #Nama Kedua

Faiq
Agus
Ahmad

#Penugasan 02 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]

nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

#Penugasan 03 - Slicing List

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list[:3])
print(list[-4:])

genap = [i for i in list if i % 2 == 0]
print(genap)

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]

#Penugasan 04 - List 2D – Matriks

In [ ]:
angka = [
    [1, 2, 3],
    [4, 5, 6]
]

print(angka[0] [1])
print(angka[1] [2])
print(angka[0] [:3])

2
6
[1, 2, 3]

#Penugasan 05 - Operasi Matriks 2D

In [ ]:
matriks_a = [[2, 3, 4], [5, 6, 7]]
matriks_b = [[8, 9, 10], [11, 12, 13]]
matriks_c = []

for i in range(len(matriks_a)):
  baris = []
  for j in range (len(matriks_a[0])):
    baris.append(matriks_a[i][j] + matriks_b[i][j])
  matriks_c.append(baris)

print(matriks_c)

[[10, 12, 14], [16, 18, 20]]

#Penugasan 06 - Rata-rata Nilai Mahasiswa

In [2]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate (nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i} adalah {rata:.2f}")

Rata-rata nilai mahasiswa 1 adalah 80.00
Rata-rata nilai mahasiswa 2 adalah 65.00
Rata-rata nilai mahasiswa 3 adalah 92.33

#Penugasan 07 - Studi Kasus – Data Toko

In [ ]:
stok = [["Buku", 20], ["Pulpen", 35], ["Penghapus", 15]]

for baris in stok:
  print(baris)
  nama_barang = baris[0]
  jumlah_stok = baris[1]
  print(f"Nama barang: {nama_barang}, Jumlah stok: {jumlah_stok}")

['Buku', 20]
Nama barang: Buku, Jumlah stok: 20
['Pulpen', 35]
Nama barang: Pulpen, Jumlah stok: 35
['Penghapus', 15]
Nama barang: Penghapus, Jumlah stok: 15